body {
    background-color: white;
    display: flex;
    margin: 0;
    font-family: 'Graduate', cursive;
}


/* index.html */
header {
    position: absolute;
    background-color: #F98E23;
    height: 90px;
    width: 100%;
    top: 0px;
    border-bottom: 2px solid #000000;
}

nav {
    position: absolute;
    right:110px;
    bottom: 10px;
}

.page {
    color: white;
    font-size: 19px;
    display: inline;
    margin-right: 2em;
}

.page:hover {
    color: rgb(203, 201, 201);
}



.court-teams {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 490px;
    width: 991.5px;
    top: 150px;
    left: 225px;
    z-index: -1;
}



.inputs-bar {
    position: absolute;
    display: flex;
    height: 90px;
    width: 100%;
    top: 0px;
}

.teams-header {
    position: absolute;
    height: 90px;
    width: 250px;
}

.saved-tag {
    position: absolute;
    top: 35px;
    left: 33px;
    top: 15px;
    font-size: 27px;
}

.right {
    position: absolute;
    height: 90px;
    width: 738.5px;
    right: 0px;
}



.player-input {
    position: absolute;
    top: 32px;
    left: 1px;
    width: 115px;
    left: 6px;
}

.season {
    position: absolute;
    top: 32px;
    left: 132px;
    height: 21px;
    width: 55px;
}

.add1 {
    position: absolute;
    bottom: 7px;
    left: 6px;
}

.add2 {
    position: absolute;
    bottom: 7px;
    left: 99px;
}



.save1 {
    position: absolute;
    top: 32px;
    left: 34%;
}

.save2 {
    position: absolute;
    top: 32px;
    left: 50%;
}

.team-input {
    position: absolute;
    bottom: 7px;
    left: 42%;
    width: 115px;
}



.simulate {
    position: absolute;
    right: 6px;
    top: 32px;
}
.new-game{
    position: absolute;
    right: 6px;
    bottom: 7px;
}



.court {
    position: absolute;
    height:400px;
    width: 738.5px;
    left: 253px;
    bottom: 0px;
    border: 2px solid black;
    z-index: -1;
    
}

.all-teams {
    background-color: rgb(237, 233, 233);
    position: absolute;
    height: 400px;
    width: 250px;
    bottom: 0px;
    border: 2px solid black;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.team {
    position: relative;
    height: 65px;
    width: 250px;
    border-bottom: 2px solid black;
}

.title {
    position: absolute;
    left: 12px;
}

.add-to-home {
    position: absolute;
    right: 12px;
    top: 7px;
}

.add-to-away {
    position: absolute;
    right: 12px;
    bottom: 7px;
    width: 51.5px;
   
}



.game {
    position: absolute;
    height: 400px;
    width: 737px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
}

.names {
    height: 400px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#team1-big {
    position: absolute;
    left: 8%;
}

#team1-small {
    position: absolute;
    left: 22%;
}

#team2-small {
    position: absolute;
    right: 22%;
}

#team2-big {
    position: absolute;
    right: 8%;
}

.home {
    position: absolute;
    left: 4px;
    top: -24px;
    font-size: 30px;
}

.away {
    position: absolute;
    right: 3.5px;
    top: -26px;
    font-size: 30px;
}

.winner {
    position: absolute;
    left: 35.38%;
    top: 38%;
    font-size: 38px;
}

.line {
    position: absolute;
    background-color: black;
    height: 2px;
    width: 994px;
    top: 175px;
    left: 225px;
    z-index: 1;
}

.left-line {
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 90px;
    left: 225px;
    top: 175px;
}

.right-line {
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 90px;
    right: 219.5px;
    top: 175px;
}

.middle-line {
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 90px;
    top: 175px;
    left: 477px;
}

.middle-bar {
    position: absolute;
    background-color: rgb(237, 233, 233);
    height: 70px;
    width: 993px;
    left: 225px;
    top: 175px;
    z-index: -2;
}







/* teams.html */
.teams-body{
    display: flex;
    justify-content: center;
    
}

.square {
    position: absolute;
    background-color: rgb(237, 233, 233);
    height: 600px;
    width: 1176px;
    border: 2px solid #F98E23;
    border-radius: 2%;
    top: 157px;
    display: flex;
    flex-direction: row;

}

.page-2-team {
    background-color: white;
    position: relative;
    height: 270px;
    width: 235px;
    margin-right: 50px;
    left: 40px;
    top: 30px;
    border: 1px solid #F98E23;
    border-radius: 2%;
}

.top {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    position: absolute;
    height: 145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-2-team-name {
    position: absolute;
    font-size: 34px;
}

.page-2-player {
    font-size: 15px;
    margin-bottom: -10px;
    left: 10px;
}

.bottom {
    position: absolute;
    bottom: 0px;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;

}

.edit {
    background-color: rgb(252, 249, 249);
    position: absolute;
    height: 20px;
    left: 25%;
    width: 55px;
}

.delete {
    background-color: rgb(252, 249, 249);
    position: absolute;
    height: 20px;
    left: 51%;
    width: 55px;
}

.edit-player {
    margin-bottom: 7px;
}

.save-btn {
    position: relative;
    left: 37.6%;
}






/* stats.html */
.page3-body {
    display: flex;
    justify-content: center;
}
.player-square {
    background-color: rgb(237, 233, 233);
    position: absolute;
    height: 600px;
    width: 37%;
    top: 145px;
    border: 2px solid #F98E23;
    border-radius: 2%;
}

.page3-input {
    background-color: rgb(252, 249, 249);
    position: absolute;
    top: 118px;
    width: 115px;
    margin-right: 244px;
}

.page3-season {
    background-color: rgb(252, 249, 249);
    position: absolute;
    top: 118px;
    height: 21.6px;
}
 .get-player-btn {
    background-color: rgb(252, 249, 249);
    position: absolute;
    top: 118px;
    margin-left: 200px;
 }

 .page3-top {
    position: absolute;
    height: 27%;
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .page3-name {
    position: absolute;
    font-size: 57px;
    bottom: 3px;
 }

 .page3-bottom {
    position: absolute;
    height: 73%;
    width: 100%;
    bottom: 0px;
 }

 .left-stats {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .right-stats {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .stat {
    position: relative;
    margin-bottom: -8px;
 }

 .stat1 {
    position: relative;
    margin-bottom: -8px;
 }

 .season-display {
    position: absolute;
    font-size: 33px;
    bottom: 0px;
 }

 button {
    background-color: white;
    border:1px solid #F98E23;
    border-radius: 20px;
    color: #F98E23;
    height: 23px;
    box-shadow: 1px 1px 15px rgb(178, 177, 177);
    font-family: 'Roboto', sans-serif;
 }

 button:hover {
    background-color: #F98E23;
    color: white;
 }



 input {
    border: 1px solid #F98E23;
    height: 17px;
    box-shadow: 1px 1px 15px rgb(178, 177, 177);
    font-family: 'Roboto', sans-serif;
 }

 select {
    background-color: white;
    color: #F98E23;
    border: 1px solid #F98E23;
    box-shadow: 1px 1px 15px rgb(178, 177, 177);
    font-family: 'Roboto', sans-serif;
 }